<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.ac.ucl.lfsab1509.memogeo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="be.ac.ucl.lfsab1509.memogeo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="be.ac.ucl.lfsab1509.memogeo.OptionsActivity"
            android:label="@string/title_activity_options"
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
        </activity>
        <activity
            android:name="be.ac.ucl.lfsab1509.memogeo.WriteNewMemo"
            android:label="@string/title_activity_write_new_memo"
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
        </activity>
        <activity
            android:name="be.ac.ucl.lfsab1509.memogeo.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="be.ac.ucl.lfsab1509.memogeo.ListMemo"
            android:label="@string/title_activity_list_memo" >
        </activity>
    </application>

</manifest>
